<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Chat</title> 
</head>
<body>
    <p>Edit you Chat: <b><%= chat._id %></b><p>
    <p>This chat send from <b><%= chat.from %> </b> to <b> <%=chat.to%></b></p>

    <form action="/chats/<%= chat._id%>?_method=PUT" method="POST">
        <textarea name="msg" rows="7" cols="30"><%= chat.msg %></textarea><br><br>
        <button>Edit</button>
    </form>
</body>
</html>